In [124]:
import pandas as pd
import numpy as np

# 创建数据帧
data_d1 = { "id": [1, 2, 4, 5, 6],
            "age": [18, 30, 45, 50, 23],
            "price": [4000.0, 5500.0, 7000.0, 7500.0, 50000.0],
            "sex": ["female", "male", "female", "male", "male"],
            "city": ["pukou", "changning", "xixia", "liuhe", "maanshan"]
            }
# print(data_d)
df1 = pd.DataFrame(data=data_d1)
# print(df1)

data_d2 = {
    "id": [1, 8, 9, 10, 11],
    "name": ["lisi", "zhangsan", "wangmeili", "liuerma", "guigui"],
    "sex": ["male", "male", "female", "male", "male"],
    "department": ["yunwei", "dashuju", "renshi", "yunwei", "jingji"]
}

df2 = pd.DataFrame(data_d2)

# 1.合并数据
# merge
ret_1 = pd.merge(df1, df2, how='inner')  #inner 交集
print(ret_1)
ret_2 = pd.merge(df1, df2, how='left')  #left 以第一条df1记录为基准，按列合并右边。
print(ret_2)
ret_3 = pd.merge(df1, df2, how='right')  #right 以第二条df2记录为基准，按列合并左边。
print(ret_3)
ret_4 = pd.merge(df1, df2, how='outer')  #outer 以第一条df1记录为基准，按行合并左边。
print(ret_4)

# append
df3 = df1.append(df2, sort=True)  #append df1按行追加df2,补全不包含的列
print("--------------append--------------")
print(df1.shape)
print(df3)

# join
# len(left_on) must equal the number of levels in the index of "right"
data_d3 = {
    "id": [1, 8, 9, 10, 11],
    "name": ["lisi", "zhangsan", "wangmeili", "liuerma", "guigui"],
    "sex": ["male", "male", "female", "male", "male"],
    "department": ["yunwei", "dashuju", "renshi", "yunwei", "jingji"],
    "city": ["pukou", "changning", "xixia", "liuhe", "maanshan"]
}
df5 = pd.DataFrame(data_d3)
df4 = df1.join(df5, lsuffix='_df1', rsuffix='_df2')
# df4 = df1.set_index(keys='id').join(df5.set_index(keys='id'))
# df4 = df1.join(df5.set_index(keys='id'))
print("--------------join--------------")
print(df4)

# concat
df6_outer = pd.concat([df1, df5])  #concat 指定维度合并，axis=0，行增加列不变。axis=1,行不变，列增加。不包含的列补全，值为NaN默认值
df6_inner = pd.concat([df1, df5], join='inner')
print("--------------concat--------------")
print(df6_inner.shape)
print(df6_inner)

# 设置索引列
print("--------------set_index--------------")
print(df6_inner.set_index('id'))  #set_index: 更改默认索引

# 按照特定列的值进行排序
print("--------------sort_values--------------")
print(df6_inner.sort_values(by='id').set_index('id'))  #sort_values：按指定列排序

# 按照索引列排序
print("--------------sort_index--------------")
print(df6_inner.sort_index())  #sort_index：按索引列排序

print("--------------np.where--------------")
# np.where(df1['sex'] == 'male', 'high', 'low') np.where 作用的数据若满足条件，用high赋值，否则用low赋值
print(np.where(df1['sex'] == 'male', 'high', 'low'))
# 赋值city列
df1['city'] = np.where(df1['sex'] == 'male', 'high', 'low')
print(df1['city'])

# 2.数据提取
print("--------------loc--------------")
print(df1)
print(df1.loc[3])
print(df1.loc[:3])
# print(df1.loc[:2,:3]) #错误的格式 只接收数值
# print(df1.loc[2, 2]) #错误的格式 TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

print("--------------iloc--------------")
print(df1.iloc[:2, :3])  #行列连续提取某几行，某几列元素
print(df1.iloc[2, 3])  #行列固定，提取指定位置的元素
print(df1.iloc[[1, 2, 4], [2, 4]])  #行列跳跃提取元素
print(df1.iloc[:3, [2, 4]])  #行连续，列跳跃

print("--------------iloc--------------")
df1.reset_index()
df_re = df1.set_index("age").sort_index()
print(df_re)

# 用 ix 按索引标签和位置混合提取数据
print("--------------ix--------------")
df1.ix[3, :3]

print("--------------isin--------------")
print(df1["age"].isin([33]))  #isin:判断是否含有某值 返回值为列表或者dataframe
print(df1.isin([23]))

# 3.数据筛选
print("--------------loc-------------")
# print(df1.keys())
# &逻辑：查找年龄大于23且性别为男的数据,并指定列名。
print((df1['age'] > 23) & (df1['sex'] == 'male'))
df1.loc[(df1['age'] > 23) & (df1['sex'] == 'male'), ['id', 'age', 'price', 'sex', 'city']]

# |逻辑：查找年龄为50或性别为女性的数据,并指定列名
print(df1.loc[(df1['age'] == 50) | (df1['sex'] == 'female'), ['id', 'age', 'price', 'sex', 'city']])

# !逻辑: 查找年龄不等于23的其他数据记录
print(df1.loc[(df1['age'] != 23), ['id', 'age', 'price', 'sex', 'city']])

# 筛选的数据按price列进行统计
print(df1.loc[(df1['age'] != 23), ['id', 'age', 'price', 'sex', 'city']]['price'].count())
print(df1.loc[(df1['age'] != 23), ['id', 'age', 'price', 'sex', 'city']].price.count())

# query筛选 求性别为男的员工总工资
print(df1.query('sex==["male"]').price.sum())

# 4.数据汇总
# groupby分组
print("--------------groupby--------------")
print(df1.groupby("sex")) # 返回：DataFrameGroupBy 对象
print(df1.groupby("sex").count())
# 按照性别分组后按照id列计数
print(df1.groupby("sex")['id'].count())
# 按照性别分组后按照price列统计总和
print(df1.groupby("sex").price.sum())
# 按照性别分组后按照price列统计总和和求平均
print(df1.groupby("sex").price.agg([len,np.sum,np.mean]))

Empty DataFrame
Columns: [id, age, price, sex, city, name, department]
Index: []
   id  age    price     sex       city name department
0   1   18   4000.0  female      pukou  NaN        NaN
1   2   30   5500.0    male  changning  NaN        NaN
2   4   45   7000.0  female      xixia  NaN        NaN
3   5   50   7500.0    male      liuhe  NaN        NaN
4   6   23  50000.0    male   maanshan  NaN        NaN
   id  age  price     sex city       name department
0   1  NaN    NaN    male  NaN       lisi     yunwei
1   8  NaN    NaN    male  NaN   zhangsan    dashuju
2   9  NaN    NaN  female  NaN  wangmeili     renshi
3  10  NaN    NaN    male  NaN    liuerma     yunwei
4  11  NaN    NaN    male  NaN     guigui     jingji
   id   age    price     sex       city       name department
0   1  18.0   4000.0  female      pukou        NaN        NaN
1   2  30.0   5500.0    male  changning        NaN        NaN
2   4  45.0   7000.0  female      xixia        NaN        NaN
3   5  50.0   7500.0    male      liuhe        NaN        NaN
4   6  23.0  50000.0    male   maanshan        NaN        NaN
5   1   NaN      NaN    male        NaN       lisi     yunwei
6   8   NaN      NaN    male        NaN   zhangsan    dashuju
7   9   NaN      NaN  female        NaN  wangmeili     renshi
8  10   NaN      NaN    male        NaN    liuerma     yunwei
9  11   NaN      NaN    male        NaN     guigui     jingji
--------------append--------------
(5, 5)
    age       city department  id       name    price     sex
0  18.0      pukou        NaN   1        NaN   4000.0  female
1  30.0  changning        NaN   2        NaN   5500.0    male
2  45.0      xixia        NaN   4        NaN   7000.0  female
3  50.0      liuhe        NaN   5        NaN   7500.0    male
4  23.0   maanshan        NaN   6        NaN  50000.0    male
0   NaN        NaN     yunwei   1       lisi      NaN    male
1   NaN        NaN    dashuju   8   zhangsan      NaN    male
2   NaN        NaN     renshi   9  wangmeili      NaN  female
3   NaN        NaN     yunwei  10    liuerma      NaN    male
4   NaN        NaN     jingji  11     guigui      NaN    male
--------------join--------------
   id_df1  age    price sex_df1   city_df1  id_df2       name sex_df2  \
0       1   18   4000.0  female      pukou       1       lisi    male
1       2   30   5500.0    male  changning       8   zhangsan    male
2       4   45   7000.0  female      xixia       9  wangmeili  female
3       5   50   7500.0    male      liuhe      10    liuerma    male
4       6   23  50000.0    male   maanshan      11     guigui    male

  department   city_df2
0     yunwei      pukou
1    dashuju  changning
2     renshi      xixia
3     yunwei      liuhe
4     jingji   maanshan
--------------concat--------------
(10, 3)
   id     sex       city
0   1  female      pukou
1   2    male  changning
2   4  female      xixia
3   5    male      liuhe
4   6    male   maanshan
0   1    male      pukou
1   8    male  changning
2   9  female      xixia
3  10    male      liuhe
4  11    male   maanshan
--------------set_index--------------
       sex       city
id
1   female      pukou
2     male  changning
4   female      xixia
5     male      liuhe
6     male   maanshan
1     male      pukou
8     male  changning
9   female      xixia
10    male      liuhe
11    male   maanshan
--------------sort_values--------------
       sex       city
id
1   female      pukou
1     male      pukou
2     male  changning
4   female      xixia
5     male      liuhe
6     male   maanshan
8     male  changning
9   female      xixia
10    male      liuhe
11    male   maanshan
--------------sort_index--------------
   id     sex       city
0   1  female      pukou
0   1    male      pukou
1   2    male  changning
1   8    male  changning
2   4  female      xixia
2   9  female      xixia
3   5    male      liuhe
3  10    male      liuhe
4   6    male   maanshan
4  11    male   maanshan
--------------np.where--------------
['low' 'high' 'low' 'high' 'high']
0     low
1    high
2     low
3    high
4    high
Name: city, dtype: object
--------------loc--------------
   id  age    price     sex  city
0   1   18   4000.0  female   low
1   2   30   5500.0    male  high
2   4   45   7000.0  female   low
3   5   50   7500.0    male  high
4   6   23  50000.0    male  high
id          5
age        50
price    7500
sex      male
city     high
Name: 3, dtype: object
   id  age   price     sex  city
0   1   18  4000.0  female   low
1   2   30  5500.0    male  high
2   4   45  7000.0  female   low
3   5   50  7500.0    male  high
--------------iloc--------------
   id  age   price
0   1   18  4000.0
1   2   30  5500.0
female
     price  city
1   5500.0  high
2   7000.0   low
4  50000.0  high
    price  city
0  4000.0   low
1  5500.0  high
2  7000.0   low
--------------iloc--------------
     id    price     sex  city
age
18    1   4000.0  female   low
23    6  50000.0    male  high
30    2   5500.0    male  high
45    4   7000.0  female   low
50    5   7500.0    male  high
--------------ix--------------
--------------isin--------------
0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool
      id    age  price    sex   city
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True  False  False  False
--------------loc-------------
0    False
1     True
2    False
3     True
4    False
dtype: bool
   id  age   price     sex  city
0   1   18  4000.0  female   low
2   4   45  7000.0  female   low
3   5   50  7500.0    male  high
   id  age   price     sex  city
0   1   18  4000.0  female   low
1   2   30  5500.0    male  high
2   4   45  7000.0  female   low
3   5   50  7500.0    male  high
4
4
63000.0
--------------groupby--------------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E4307BA5F8>
        id  age  price  city
sex
female   2    2      2     2
male     3    3      3     3
sex
female    2
male      3
Name: id, dtype: int64
sex
female    11000.0
male      63000.0
Name: price, dtype: float64
        len      sum     mean
sex
female  2.0  11000.0   5500.0
male    3.0  63000.0  21000.0

E:\developers\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:58: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

E:\developers\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:104: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated